// /components/Brief.module.scss
.link {
  text-decoration: none;
  color: inherit;
}
.brief {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: filter 0.15s;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5em;
  }

  .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .tagsCategory {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  .tag {
    filter: brightness(90%);
    background-color: var(--color-bg);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875em;

    &:hover {
      cursor: pointer;
      filter: brightness(85%);
    }
  }

  .category {
    font-weight: bold;
  }
}
