/* @import url("https://static.zeoseven.com/zsft/95/main/result.css"); */
@import "tailwindcss";

@config "../../tailwind.config.js";

@layer base {
  html {
    font-size: 16px;
    @screen sm {
      font-size: 18px;
    }
    @screen lg {
      font-size: 18px;
    }
    @screen xl {
      font-size: 18px;
    }
    @screen 2xl {
      font-size: 20px;
    }
  }
}

@layer components {
  .hide-scrollbar {
    scrollbar-width: 0px;
    scrollbar-color: transparent;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "LXGWBright", sans-serif !important;
  font-weight: normal;
}

code {
  font-family:
    "Fira Code",
    "Fira Mono",
    "LXGWBright",
    Menlo,
    Consolas,
    DejaVu Sans Mono,
    monospace,
    sans-serif !important;
  font-weight: normal;
}

:root {
  --scroll-padding-top: 0;
}
html {
  /* scoll padding */
  scroll-padding-top: var(--scroll-padding-top);
}
