.commentBLock {
  display: flex;
  margin: 0;
  padding: 0.6rem 0px 0.8rem;

  .commentBody {
    margin: 0px 0px 0px 10px;
    flex: 1;
    .user {
      font-weight: bold;
      margin: 0;
    }
    .meta {
      font-size: 0.8rem;
      color: var(--color-text-secondary);

      & > span {
        margin-right: 1rem;
      }
    }
    .content {
      margin: 0.5rem 0px;
    }

    .avatar {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.inputBlock {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 0.6rem 0;

  .inputRow {
    display: flex;
    align-items: center; /* Aligns items vertically */
    width: 100%;
    margin-bottom: 10px; /* Space between inputRow and button */
  }

  .input {
    flex: 1;
    margin-left: 10px;
    padding: 0.4rem;
    border: 1px solid #ddd; /* Light border */
    border-radius: 4px; /* Rounded corners */
    resize: none;
    font-size: 1rem;
  }

  .buttonRow {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    width: 100%;
    margin-top: 0.5rem;
  }

  .button {
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: #007bff; /* Blue background */
    color: white;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3; /* Darker blue on hover */
    }
  }
}
