.markdown {
  scroll-padding-top: 200px;

  table {
    border-collapse: collapse;
    margin: 1rem 0;
    border: 1px solid var(--text-light);
    border-radius: 0.5rem;

    th,
    td {
      border: 1px solid var(--text-light);
      padding: 0.5rem;
    }

    th {
      background-color: var(--color-bg-secondary);
    }
  }
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   scroll-padding-top: 200px;
  // }
}
