.btn {
  position: relative; /* Ensure the dropdown is positioned relative to the btn */
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--color-bg);
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out; /* Adjust the timing as needed */
}

/* Show the dropdown when .btn or .dropdown is hovered */
.btn:hover .dropdown,
.dropdown:hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; /* Show immediately on hover */
}

/* Add a delay before hiding */
.btn:not(:hover) .dropdown,
.dropdown:not(:hover) {
  transition-delay: 0.5s; /* Delay hiding */
}
