.Nav {
  display: flex;
  justify-content: space-between;
  // max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-text-secondary);

  a {
    text-decoration: none;
    transition: color 0.15s;
  }

  .part {
    display: flex;
    align-items: center;
  }

  .item {
    padding: 0.5rem 1rem;
    color: var(--color-text-secondary);
    &:hover {
      color: var(--color-text);
    }
  }

  .home {
    font-weight: bold;
    font-size: 1.5rem;
    a {
      color: var(--color-text);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
