@import "../../app/variable.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--text-light);

  .line {
    display: none;
  }
  .openBtn,
  .closeBtn {
    display: none;
  }

  #sidebarActive {
    display: none;
  }

  .item {
    text-decoration: none;
    transition: color 0.15s;
    margin-right: 1rem;
    color: var(--text-light);
    font-size: 1rem;
    &:hover {
      color: var(--text-normal);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .home {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: auto;
    color: var(--text-normal);
  }

  .user {
    display: flex;
    align-items: center;
    cursor: pointer;
    .userText {
      margin-left: 0.5rem;
    }

    .avatar {
    }

    .dropdown {
      position: absolute;
      top: 4rem;
      right: 3rem;
      visibility: hidden;
      height: 0;
      overflow: hidden;
      transition: height 0ms 400ms, opacity 400ms 0ms;

      &.show {
        visibility: visible;
      }
    }
    &:hover {
      .dropdown {
        visibility: visible;
        transition: 1s;
      }
      transition: 1s;
    }
  }
}

.alt {
  display: none;
}

.toggleBtn {
  display: none;
}

@media screen and (max-width: $media_query_small) {
  .Nav {
    .openBtn,
    .closeBtn {
      display: block;
    }

    .links {
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: 0.75s;
      position: fixed;
      top: 0;
      left: calc(-65vw - 32px);
      width: 65vw;
      background-color: var(--color-bg);
      z-index: 10;

      .line {
        display: block;
        width: 100%;
        background-color: var(--text-light);
      }

      .home {
        margin: 0.5rem 0;
        font-size: 1.6rem;
      }

      .item {
        margin: 0.5rem 0;
        font-size: 1.3rem;
      }

      .user {
        .userText {
          margin: 0.5rem 0;
          font-size: 1.3rem;
        }
      }

      .avatar {
        display: none;
      }

      img {
        display: none;
      }
    }

    #sidebarActive:checked ~ .links {
      left: 0;
    }

    #sidebarActive:checked ~ #overlay {
      background-color: rgba(0, 0, 0, 0.75);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }
}
