@import "../../../variable.scss";

.page {
  .title {
    margin: 2rem 0;
  }

  .briefCards {
    padding: 1rem 2rem;
  }
  .briefCard {
    margin-bottom: 1.2rem;
  }

  .infos {
    color: var(--text-light);
    font-size: 0.8rem;
    margin-bottom: 1rem;
    span {
      color: inherit;
      &::after {
        content: "·";
        margin: 0 0.5rem;
      }

      &:last-child::after {
        content: "";
        margin: 0;
      }
    }
  }
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .content {
    width: 80%;
  }

  .tocContainer {
    width: 20%;
    padding: 1rem 2rem;
    position: sticky;
    top: 7rem;
  }

  // label {
  //   display: none;
  // }
}

.toogleCheckbox {
  display: none;
}

@media screen and (max-width: $media_query_small) {
  #sidebarActive:checked ~ .tocContainer {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100%;
    background: #fff; /* Background for TOC */
    z-index: 10;
  }

  #sidebarActive:checked ~ .toogleCheckbox {
    // display: none; /* Hide the toggle button when TOC is visible */
  }

  #sidebarActive:checked ~ .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: block; /* Show the overlay */
  }

  .tocContainer {
    display: none; /* Hide TOC by default */
  }

  .toogleCheckbox {
    display: block;
    position: fixed;
    top: 30%;
    right: 1rem;
    z-index: 11; /* Ensure button is above the overlay */
  }

  .overlay {
    display: none; /* Hide overlay by default */
  }
}
