.Button {
  color: var(--text-normal);
  border-radius: 1rem;
  border: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
}

.hover {
  &:hover {
    filter: brightness(var(--hover-brightness));
  }
}

.click {
  &:active {
    filter: brightness(var(--active-brightness));
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
  }
}
