.container {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 0.2rem;
  border: 1px solid var(--text-light);
  cursor: pointer;
  .option {
    padding: 0.2rem 0.5rem;
    background-color: var(--color-bg);
    &:hover {
      filter: brightness(var(--hover-brightness));
    }

    &active {
      background-color: var(--active-brightness);
    }
  }
}
